<mat-card class="recommendation-div">
  <mat-grid-list cols="12" rowHeight="50px" gutterSize="10px">
    <mat-grid-tile colspan='12' class="header">
        Recommended bus details for a smoother journey experience
    </mat-grid-tile>
    <mat-grid-tile colspan='3'>
        Company {{recommendedBusOption.companyName}}
    </mat-grid-tile>
    <mat-grid-tile colspan='4'>
        Departure : {{recommendedBusOption.departureFromC}}
    </mat-grid-tile>
    <mat-grid-tile colspan='4'>
        Arrival : {{recommendedBusOption.arrivalAtD}}
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
